body {
  background-color: #000000;
  background-size: 100%;
  background-repeat: no-repeat;
}

div.upper-container{
  width: 100%;
  height: 300px;
  background-image: url(../images/background.jpg);
}

h1 {
  top: 100px;
  position: relative;
  font-family: 'Open sans', arial;
  text-align: Center;
  font-size: 40pt;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

div.content { 
  width: 800px;
  margin: 0 auto;
  margin-top: 150;
}

p {
  color: #777777;
  font-size: 21px;
  font-family: 'Open sans', arial, sans-serif;
  text-indent: 50px;
}

ul#navigation {
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 320px;
  left: 0px;
  list-style: none;
  z-index: 9999;
}

ul#navigation li {
  width: 100px;
}

ul#navigation li a {
    display: block;
    margin-left: -2px;
    width: 100px;
    height: 70px;
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
}

ul#navigation #Github a {
  background-image: url(../images/github.png);
  background-size: 100%;
}
ul#navigation #Blog a {
  background-image: url(../images/blog.png);
  background-size: 100%;

}
ul#navigation #Twitter a {
  background-image: url(../images/twitter.png);
  background-size: 100%;
}
ul#navigation #Switch a {
  background-size: 100%;
}